/* Base styles */
.hero-section {
  min-height: calc(100vh - 88px);
}
.hero-container{
  padding-top: 4rem;
}
.hero-text-container {
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
}

.hero-title {
  font-size: 2.2rem;
  font-family: "Archivo Black", sans-serif;
  margin-bottom: 2rem;
  color: white;
}

.hero-tagline {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: white;
}

.hero-btn {
  display: inline;
  background-color: transparent;
  color: white;
  font-weight: bold;
  border: 3px solid white;
  font-size: 1.5rem;
  padding: 10px 20px;
  text-decoration: none;
}

.hero-btn:hover {
  background-color: white;
  color: #022C89;
  transition: background-color 0.3s ease;
}

.hero-img-container {
  margin-top: 4rem;
}


/* Pantallas medianas (tablets) */
@media (min-width: 768px) {
  .hero-container{
    padding-top: 6rem;
  }
  .hero-title {
    font-size: 3rem;
  }

  .hero-tagline {
    font-size: 1.5rem;
  }

  .hero-btn {
    font-size: 2rem;
  }


  .hero-img-container {
    margin-top: 4rem;
  }
  .hero-img{
    width: 0%;
    margin: 0 auto;
  }

}

/* Pantallas grandes (desktops) */
@media (min-width: 992px) {
  .hero-container{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
  }
  .hero-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
  }
  .hero-title {
    font-size: 2.5rem;
    text-align: left;
  }

  .hero-tagline {
    font-size: 1.2rem;
    text-align: left;
  }

  .hero-btn {
    font-size: 1.5rem;
    align-self: flex-start;
  }

  .hero-img-container {
    margin-top: 4rem;
  }
  .hero-img{
    width: 100%;
    margin: 0 auto;
  }
}

/* Pantallas extra grandes */
@media (min-width: 1200px) {
  .hero-title {
    font-size: 5rem;
  }

  .hero-tagline {
    font-size: 2.5rem;
  }

  .hero-img {
    max-width: 700px;
  }
}
