#home{
  scroll-margin-top: 100px;
}

.hero-title{
  font-size: 6rem;
  font-family: "Archivo Black", sans-serif;
}

.hero-text{
  font-size: 2rem;
}

.btn-law{
  background-color: transparent !important;
  color: white !important;
  font-weight: bold !important;
  border: 4px solid white !important;
  font-size: 1.3rem !important;
  border-radius: 0px !important;
}

.btn-law:hover{
  background-color: rgb(255, 255, 255) !important;
  color: #022C89 !important;
  cursor: hover;
}
.hero{
  position: relative;
}
.hero-img{
  padding: 4rem 0 0 0 !important;
  position: absolute;
  bottom: 0;
  width: 45rem;
}
@media (max-width: 992px) {
  .hero-title{
    font-size: 4rem;
  }
  .hero{
    display: flex;
  }

  .hero-text{
    font-size: 1.5rem;
  }

  .hero-img{
    position:absolute;
    left: 200px;
    width: 55rem;
  }
  .hero-call{
    z-index: 3;
  }

  .hero-text{
    text-shadow: 5px 5px 8px black;
  }
}

@media (max-width: 576px) {
  .hero-title{
    margin-top: 3rem;
    font-size: 3rem;
  }
  .hero-img{
    position:unset;
  }

  .hero-text{
    text-shadow: none;
  }
}
