#about{
  scroll-margin-top: 100px;
  color: white;
}

#about h2{
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Archivo Black", sans-serif;
}

.about-section{
  position: relative;
}

.about-img{
  position: absolute;
  bottom: 0;
  right: 600px;
  width: 60rem;
}

.about-content{
  width: 50%;
}

#about h3{
  font-size: 2rem;
  font-weight: bold;
}

#about p{
  font-size: 1.3rem;
}
@media (max-width: 1600px){
  .about-img{
    width: 50rem;
  }
}

@media (max-width: 992px) {
  #about h2{
    font-size: 3rem;
    padding: 0 2rem;
  }
  .about-image{
    width: 80% !important;
  }
  #about p{
    font-size: 1.2rem;
    padding: 0 2rem;
  }
  .about-img{
    position: unset;
    border-bottom: 1rem solid white;
  }

}

@media (max-width: 576px) {
  #about h2{
    font-size: 2.3rem;
    margin-top: 1.5rem;
    padding: 0 1rem;
  }
  #about p{
    font-size: 1rem;
    padding: 0 1rem;
  }
}
